.counter-container {
    background-color: #111111; 
    width: calc((7 * 2em) + (7 * 1em) + (7 * 6px) + 4em); 
    justify-content: space-between; 
    margin: 0 auto; 
    border-radius: 10px;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;  
}

.icon-style {
    color: white;
    margin-right: 10px; 
}